<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Alfonso Fernández personal site.</title>
    <META HTTP-EQUIV="PRAGMA" CONTENT="NO-CACHE">
    <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
    <META HTTP-EQUIV="EXPIRES" CONTENT="0">
    <meta name="description" content="Programmer">
    <meta name="author" content="Alfonso Fernández Abad">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->    
    <!-- Le styles -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/hl.snipet.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet"> 
    
    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
    			
	<script src="./files/quant.js" async="" type="text/javascript"></script><script type="text/javascript" async="" src="./files/ga.js"></script>
	<script type="text/javascript">//<![CDATA[
	// Google Analytics for WordPress by Yoast v4.2.2 | http://yoast.com/wordpress/google-analytics/
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount','UA-27382263-1']);
	_gaq.push(['_trackPageview'],['_trackPageLoadTime']);
	(function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();
	//]]>
	</script>
	
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="http://www.steamdev.com/snippet/js/jquery.snippet.min.js"></script>
    <script type="text/javascript" src="/js/snippet/sh_sh.min.js"></script>
	<script>
	$(document).ready(function(){	$("pre.javascript").snippet("javascript",{style:"whatis",menu:false}); });
	$(document).ready(function(){	$("pre.sh").snippet("sh",{style:"whatis",menu:false, showNum:false}); });
	$(document).ready(function(){	$("pre.php").snippet("php",{style:"whatis",menu:false}); });
	

	</script>
  </head>

  <body>

    <div class="topbar">
      <div class="fill">
        <div class="container">
    	      <a class="brand" href="/">Alfonso Fdez. Abad</a>
          <ul class="nav">
            <li class="active"><a href="/">Blog</a></li>
          </ul>
          <!-- 
          <div class="pull-right">
            <a href="/atom.xml"><img src="/images/rss.png" alt="Rss blog alfonso"></a>
          </div>
          -->
        </div>        
      </div>                         
    </div>

    <div class="container">
      <div class="content">
        <!-- 
        <div class="page-header">
          <h1>Page name <small>Supporting text or tagline</small></h1>
        </div>
         -->
        <div class="row">
          <div class="span12">            
            <!-- {{ title }} Blog title -->									
			<!-- content -->
			<div id="content">
				{{ content }}	
			</div>					
          </div>
          <div class="span4">
			
			<div>
				<table>
					<tr>
				   
						<td style="padding-left:0px;">
							Alfonso Fernández Abad<br>
							<em>Web Developer</em><br>
							<a href="mailto:fernandez.alfonso@gmail.com">e-mail</a><br>
							<a href="/resume">about me</a>
							 
						</td>
					</tr>
				</table>
				
 			</div>
			<div style="clear:both;">&nbsp;</div>
            
            <table class="social_links" width="100%" cellpadding="0" cellspacing="0" border="0">
  			<tbody>
	  				<tr>
					    <td valign="middle"   >
					      <a href="http://www.twitter.com/alfonsodev" style="text-decoration:none;">
					        <img alt="" height="48" src="/images/twitter.png" style="display:block; border: none;" width="48">
					      </a>
					    </td>
	
					    <td valign="middle" width="100%"  >
					      <a href="http://www.twitter.com/alfonsodev" style="font-size: 15px; font-weight: bold; color: #333; text-decoration: none;">Twitter<br>
					        <span style="font-size: 13px; font-weight: normal; color: #999;">@alfonsodev</span>
					      </a>
					    </td>
					</tr>
					<tr>
						<!-- USUario github -->
							<td valign="middle" class="tdsocial" >
								<a href="http://github.com/alfonsofernandez" style="text-decoration:none;">
						        	<img alt="http://github.com/alfonsofernandez" height="48" src="/images/github2.png" style="display:block; border: none;" width="48">
						      		</a>
						    	</td>
	
							<td valign="middle" width="100%" class="tdsocial" >
									<a href="http://github.com/alfonsofernandez" style="font-size: 15px; font-weight: bold; color: #333; text-decoration: none;">Github<br>
								     	<span style="font-size: 13px; font-weight: normal; color: #999;">@alfonsofernandez</span>
							   		</a><br>
							   		whatch my repos! 
							</td>
						<!--/end usuario github -->
					</tr>
					<tr>
						<!-- usuario google plus -->
						<td valign="middle" class="tdsocial" >
							<a href="https://plus.google.com/115601102326911748945" style="text-decoration:none;">
					        	<img alt="" height="48" src="/images/google2.png" style="display:block; border: none;" width="48">
					    	</a>
					    </td>
					
						<td valign="middle" width="100%" class="tdsocial" >
							<a href="http://plus.google.com/115601102326911748945" style="font-size: 15px; font-weight: bold; color: #333; text-decoration: none;">Google+<br>
					        	<span style="font-size: 13px; font-weight: normal; color: #999;">Alfonso</span>
					      		</a>
					    </td>
						<!-- /end usuario google plus -->
					</tr>
					<tr>
					<!-- usuario Linked in -->
						<td valign="middle" class="tdsocial" >
							<a href="http://www.linkedin.com/pub/alfonso-fernandez/7/5b2/774" style="text-decoration:none;">
					        	<img alt="" height="48" src="/images/linkedin-logo2.png" style="display:block; border: none;" width="48">
					    	</a>
					    </td>
					
						<td valign="middle" width="100%" class="tdsocial" >
							<a href="http://www.linkedin.com/pub/alfonso-fernandez/7/5b2/774" style="font-size: 15px; font-weight: bold; color: #333; text-decoration: none;">Linked In<br>
					        	<span style="font-size: 13px; font-weight: normal; color: #999;">Alfonso</span>
					      		</a>
					    </td>
						<!-- /end Linked in  -->
					</tr>
				</tbody>
			</table>            
          </div>
        </div>
      </div>

      <footer>
        <p></p>
      </footer>

    </div> <!-- /container -->

  </body>
</html>
