<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Alfonso Fernández personal site.</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/cv.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">   
  

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
    			
	<script src="./files/quant.js" async="" type="text/javascript"></script><script type="text/javascript" async="" src="./files/ga.js"></script>
	<script type="text/javascript">//<![CDATA[
	// Google Analytics for WordPress by Yoast v4.2.2 | http://yoast.com/wordpress/google-analytics/
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount','UA-27382263-1']);
	_gaq.push(['_trackPageview'],['_trackPageLoadTime']);
	(function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();
	//]]>
	</script>
    
  </head>

  <body>

    <div class="topbar">
      <div class="fill">
        <div class="container">
    	  <a class="brand" href="/">Alfonso Fdez. Abad</a>
          <ul class="nav">
            <li><a href="/">Blog</a></li>
            <li class="active" ><a href="/resume.html">Resume</a></li>            
          </ul> 
        </div>
      </div>
    </div>

    <div class="container">

      <div class="content">
        <!-- 
        <div class="page-header">
          <h1>Page name <small>Supporting text or tagline</small></h1>
        </div>
         -->
        <div class="row">
          <div class="span16">            
            {{ title }}<!-- Blog title -->
					
			
			{{ foo }}	
			<!-- content -->
			<div id="content">
				{{ content }}	
			</div>
					
          </div>
        
        </div>
      </div>

      <footer>
        <p></p>
      </footer>

    </div> <!-- /container -->

  </body>
</html>
